body{
    background-image: url("https://ak8.picdn.net/shutterstock/videos/7998868/thumb/1.jpg");
}

img {
    position: relative;
    height: 8vw;
    width: 8vw;
    cursor: pointer;
    display: block;
    left: 1.5vw;
    margin: 1vw 0;
    
}
h1 {
    font-weight: 700;
    padding-top: 2vw;
}
.instructions {
    margin-right: 10px;
}
.crystals {
    margin-right: -5px;
}
.scores {
    margin-right: -5px;
}



@media (max-width: 992px) {
    img {
        height: 100px;
        width: 65px;
        margin-top: 2vw;
    }
    li.lead {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    img {
        height: 80px;
        width: 42px;
        margin-top: 2vw;
    }
    li.lead {
        font-size: 13px;
    }
    .instructions {
        max-width: 100%;
        padding-left: 10px;
    }
   
}
@media (max-width: 576px) {
    .display-4 {
        margin-top: 1vw;
        margin-bottom: -1vw;
    }
    .crystals {
        display: flex;
    }
    img {
        height: 20vw;
        width: 20vw;
        margin-right: 5vw;
    }
    .instructions {
        margin-right: -10px;
    }
    .scores {
        margin-right: -5px;
    
    }
}